# Python 缓存和临时文件
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.so

# 虚拟环境
venv/
ENV/
env/
.venv/

# 编辑器/IDE 文件
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 日志和数据库
*.log
*.sqlite3

# 单元测试缓存
.pytest_cache/

# Jupyter Notebook 检查点
.ipynb_checkpoints/

# MacOS 文件
.DS_Store

# Windows 文件
Thumbs.db 